################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/servers.file.json
/build/rF2_serverNotify
/env
/steps/__pycache__
*.spec
/rF2_serverNotify.exe
*.suo
/rF2_serverNotify.sln
/build/rF2_serversWithHumans
/steps/module1.py
/steps/rF2_serverNotifyMultiprocess.py
*.exe
/build/rF2_joinServer
/valve
/steps/servers.file.json
/steps/drivers.txt
/servers.file.serial
/rF2_serversWithHumansSerialPlayersSorted.txt
/rF2_serversWithHumansSerialPlayers.txt
/rF2_serversWithHumansSerial.txt
/rF2_serversWithHumansPoolPlayersSorted.txt
/rF2_serversWithHumansPoolPlayers.txt
/rF2_joinServerBAK.json
/SIG_command.bat
/.mypy_cache/3.6
/mpypy
*.pyc
