################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/makeexe.bat
/servers.file.json
/build/rF2_serverNotify
/env
/steps/__pycache__
*.spec
/rF2_serverNotify.exe
*.suo
/rF2_serverNotify.sln
/build/rF2_serversWithHumans
/steps/module1.py
/steps/rF2_serverNotifyMultiprocess.py
*.exe
